body{
    background-image: url(bg1.jpg); /* Replace with your image */
    background-size: cover;  /* Ensures the image covers the full screen */
    background-position: center; /* Centers the background */
    background-attachment: fixed; /* Fixes the background in place */
    background-repeat: no-repeat; /* Prevents repeating */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
.nbr{
    width: 87.8rem;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.051);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 10px;
    align-self: center;
}
@font-face {
    font-family: Samarkan;
    src: url(SAMAN___.ttf);
  }
@font-face {
    font-family: Awesome;
    src: url(Awesome.ttf);
 }
@font-face {
    font-family: Domine;
    src: url(Domine-VariableFont_wght.ttf);
 }
.logo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Samarkan';
    font-size: 60px;
    text-align: center;
    background: linear-gradient(to left,rgb(1, 112, 1),rgb(255, 255, 255),rgb(242, 137, 0));
    background-clip: text;
    color: transparent;
}
.navopt{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-left: 460px;
}
.nvinn{
    font-size: 22px;
    font-weight: 130;
    color: rgb(233, 233, 233);
}
.nvinn:hover{
    color: rgb(155, 155, 155);
    border: none;
    transition-duration: 230ms;
}
.pic{
    width: 280px;
    height: 280px;
    background-image: url("aboutface.jpg");
    background-size: cover;
    border-radius: 50%;
}
.int{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro1{
    text-align: center;
    color: rgb(185, 185, 185);
    font-size: 16px;
    margin-top: 20px;
}
.intro2{
    margin-top: 8px;
    text-align: center;
    color: white;
    font-weight: 550;
    font-size: 50px;
    font-family: awesome;
    height: 65px;
}
.intro3{
    text-align: center;
    color: rgb(233, 233, 233);
    font-size: 24px;
}
.introbut{
    width: 170px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
#b2{
    margin-left: 10px;
}
.introbut:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition-duration: 300ms;
}
.socials{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.in{
    width: 37px;
    height: 37px;
    background-image: url("linkedin.png");
    background-size: cover;
}
.gh{
    width: 34px;
    height: 34px;
    background-image: url("gh.png");
    background-size: cover;
    margin-left: 15px;
}
.pic2{
    width: 400px;
    height: 400px;
    background-image: url("pic2.jpeg");
    background-size: cover;
    border-radius: 10%;
}
.abt{
    height: 550px;
    width: 75rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    /* background-color: rgb(1, 112, 1); */
}
.abtouter{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: coral; */
}
.abtinner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    height: 400px;
    width: 700px;
}
.exp1{
    height: 270px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10%;
    align-items: center;
}
.edu1{
    height: 270px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10%;
    align-items: center;
}
.expicon{
    width: 50px;
    height: 50px;
    background-image: url("exp.png");
    background-size: cover;
    margin-bottom: 20px;
}
.knowmore{
    font-size: 16px;
    margin-top: 50px;
    color: #B9B9B9;
}
.abtme{
    font-size: 40px;
}
.eduicon{
    width: 50px;
    height: 50px;
    background-image: url("edu.png");
    background-size: cover;
    margin-bottom: 20px;
}
.exp1{
    font-size: 22px;
}
.edu1{
    font-size: 22px;
}
.exp2{
    font-size: 16px;
    margin-top: 10px;
}
.edu2{
    font-size: 16px;
    margin-top: 10px;
}
.exp{
    height: 650px;
    width: 75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-self: center;
    /* background-color: rgb(1, 112, 1); */
    margin-top: 100px;
}
.iknow{
    font-size: 40px;
    margin-bottom: 35px;
}
.techst{
    font-size: 16px;
    color: #B9B9B9;
}
.expinner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    height: 310px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    border-radius: 40px;
    align-items: center;
    font-size: 28px;
    color: white;
    font-weight: 550;
    font-family: 'Domine';
}
.s{
    height: 52px;
    width: 160px;
    /* background-color: rgb(242, 137, 0); */
    font-size: 18.72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3{
    color: white;
    margin: 5px 0px 0px 0px;
    font-weight: 520;
}
p{
    color: white;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    color: #B9B9B9;
    font-weight: 400;
}
.box1container{
    height: 236px;
    width: 460.41px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.box2{
    height: 310px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    border-radius: 40px;
    align-items: center;
    font-size: 28px;
    color: white;
    font-weight: 550;
    font-family: 'Domine';
}
.box2container{
    height: 236px;
    width: 460.41px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.s2{
    height: 52px;
    width: 220px;
    /* background-color: rgb(242, 137, 0); */
    font-size: 18.72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxicons{
    height: 45px;
    width: 45px;
    /* background-color: red; */
    align-self: center;
    background-size: cover;
}
.textcontent2{
    width: 163.05px;
    height: 52;
}
#html{
    background-image: url(html.png);
    height: 60px;
    width: 60px;
}
#c{
    background-image: url(c.png);
}
#js{
    background-image: url(js.png);
}
#py{
    background-image: url(py.png);
}
#CSS{
    background-image: url(css.png);
    height: 50px;
}
#sql{
    background-image: url(sql.png);
}
#kl{
    background-image: url(kl.png);
}
#rjs{
    background-image: url(rjs.png);
}
#njs{
    background-image: url(njs.png);
}
#ntw{
    background-image: url(nt.png);
}
.pjt{
    height: 650px;
    width: 75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-self: center;
    /* background-color: rgb(1, 112, 1); */
    margin-top: 100px;
}
.browse{
    font-size: 16px;
    color: #B9B9B9; 
}
.prj{
    font-size: 40px;
    margin-bottom: 35px;
}
.prjcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.proj{
    height: 460px;
    width: 350px;
    border-radius: 40px;
    border: 2px solid white;
}
.pjpic{
    height: 280px;
    width: 300px;
    background-size: cover;
    align-self: center;
    justify-self: center;
    margin-top: 22.5px;
    border-radius: 30px;
}
.pjbut{
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.pjbut:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition-duration: 300ms;
}
#pjpic1{
    background-image: url(pj1.jpg);
    background-size: cover;
}
.pname{
    font-size: 28px;
    font-weight: 530;
    margin-top: 30px;
    color: white;
}
#pjpic2{
    background-image: url(pj2.jpg);
    background-size: cover;
}
#pjpic3{
    background-image: url(pj3.webp);
    background-size: cover;
}
.linkedinicon{
    width: 40px;
    height: 40px;
    background-image: url("linkedin.png");
    background-size: cover;
    margin-right: 10px;
}
.cnt{
    height: 500px;
    width: 75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-self: center;
    /* background-color: rgb(1, 112, 1); */
    
}
.get{
    font-size: 16px;
    color: #B9B9B9; 
}
.cm{
    font-size: 40px;
    margin-bottom: 35px;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80px;
    width: 450px;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 19px;
}
.mailicon{
    width: 40px;
    height: 40px;
    background-image: url("mail.png");
    background-size: cover;
    margin-right: 10px;
}
.mail{
    /* background-color: orchid; */
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.linkedin{
    /* background-color: purple; */
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    transition-duration: 230ms;
}
.cpr{
    text-align: center;
}
.nvinn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}